/*nav bar*/
.navbar-brand{
    letter-spacing: 1px;
}
.nav-link{
    margin-right: 15px;
    font-weight: 500;
}
.nav-link:hover,
.nav-link.active{
    color: #0d6efd;
}
/* Hero section */
#hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
}

#hero h1{
    color: #212529;

}
#hero p{
    max-width: 500px;
}
#typed {
  color: #0d6efd; /* Primary color */
  font-weight: 600;
}

/* About section*/
#about {
  background: #f8f9fa; /* Light grey background */
}

#about h2 {
  color: #0d6efd; /* Bootstrap primary color */
}
#about img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/*Services*/

#services .card:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}
/*Skills*/
#skills img {
  max-width: 100%;
  border-radius: 15px;
}

.progress {
  background-color: #e9ecef; /* Light grey background */
}


